<% if object.errors.any? %>
  <div class="row">
    <div class="span6">
      <div class="alert alert-error">
        <h3 class="alert-heading"><%= pluralize object.errors.count, 'error' %>
          prohibited this <%= object.class.to_s.underscore.humanize.downcase %> from being saved</h3>
        <p>There were problems with the following fields:</p>
        <ul>
          <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
