<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_area :content, rows: '5', class: 'span6' %>
  <div><%= f.submit "Submit", class: 'btn' %></div>
<% end %>
